/*variable*/
:root{
    --lavender: rgb(230,230,250);
    --purple1: #76479c;
    --pruple2: 
}

html {
    height: 100%;
    box-sizing: border-box;
}

/* Attempting to size footer so that is doesn't overlap when height gets too small */
*,
*:before,
*:after {
  box-sizing: inherit;
}

 /* Attempting to size footer so that is doesn't overlap when height gets too small */
* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

/* Attempting to size footer so that is doesn't overlap when height gets too small */
body{
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20.8px;

}

/* hovering over both internal and external links turns text light blue */
a:hover, #view-scores:hover{
    color: lightblue;
}

/* because there is only one list (high scores) just using ul tag */
ul{
    margin-left: 25%;
    margin-right: 25%;
    border: 7px solid var(--purple1);
    border-radius: 7px;
}

li{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

/* making every odd color lavender */
ul > li:nth-of-type(odd) {
    background-color: var(--lavender);
}

/* making every even color white */
ul > li:nth-of-type(even) {
    background-color: white;
}
/* Attempting to size footer so that is doesn't overlap when height gets too small */
#foot{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* polka dot background */
#background{
    background-image: url("../images/polkadot.jpg")
}

/* making everything in header and footer text white and Lucidia */
#timer, #view-scores, #foot, a{
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

/* displays "correct" or "incorrect" */
#answer, #high-score-text{
    color: var(--purple1);
    font-size: 35px;
    font-weight: bold;
    font-style:italic;
    text-shadow: 2px 2px lightgray;
    font-family: 'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* lavender box around text */
#intro, .quizComplete-display{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lavender;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    border: 7px solid var(--purple1);
    border-radius: 7px;
    text-align: center;
    padding: 10px;

}

/* Centering content */
.center-container {
    margin: auto;
    width: 100%;
    text-align: center;
}


/* for the view score and timer on top */
.pseudo-navbar, #foot{
    display: flex;
    background-color: var(--purple1);
    padding: 30px;
    width: 100%;
}

/* for the Timer. Flex align right */
.top-center {
    flex: 50%;
    text-align: center;
}

/* start off with no display to toggle later. Question Display */
.question-display{
    display: none;
    border: 5px solid var(--purple1);
    background-color: var(--lavender);
    border-radius: 15px;
    margin-top: 50px;
    width: 90%;
    padding: 10px; 
    text-align: left;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

/* start off with no display to toggle later. Quiz Complete Display */
.quizComplete-display{
    display: none;
}

/* start off with no display to toggle later. High Score display*/
.highScores-display{
    display: none;
}

/* cat image */
.cat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

}

/* button styling */
.button{
    background-color: var(--purple1);
    color:white;
    border: 1px solid var(--lavender);
    border-radius: 7px;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

/*button changes color when hovering over */
.button:hover{
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    
}

/* flex column (used in footer) */
.flex-col{
    flex-direction: column;
}

/* for smaller screens, very general */
@media screen and (max-width: 750px){
    *, .button, a, #foot, #view-scores{
        font-size: 15px;
    }

    h1{
        font-size: 28px;

    }

    h2{
        font-size: 21px;
    }
    h3{
        font-size: 17px;
    }

    #intro, .quizComplete-display{
        margin-left: 25px;
        margin-right: 25px;
    }

    

    .cat{
        max-width: 300px;
    }
}
    
  
 