/*variable*/
:root{
    --lavender: rgb(230,230,250);
    --purple1: #76479c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Centering content */
.center-container {
    margin: auto;
    width: 100%;
    text-align: center;
  }

/* for the view score and timer on top */
.pseudo-navbar{
    display: flex;
    flex-wrap: wrap;
}

/* for the View Score link. Flex align left */
.top-left {
    flex: 50%; 
}

/* for the Timer. Flex align right */
.top-right {
    flex: 50%;
    text-align: right;
}

/* start off with no display to toggle later */
.question-display{
    display: none;
}

.quizComplete-display{
    display: none;
}

.highScores-display{
    display: none;
}

.cat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

/* need to implement solution to border appearing with no elements */
 #question-form{
    border: 2px solid black;
    margin: auto;
    width: 50%;
    padding: 10px; 
    
}
  
 